<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="16.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.4.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Connections.Abstractions" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Connections.Client" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Connections.Common" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Features" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.SignalR.Client" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.SignalR.Client.Core" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.SignalR.Common" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.SignalR.Protocols.Json" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Azure.CognitiveServices.Vision.ComputerVision" version="7.0.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="3.8.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="3.8.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="3.8.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.21" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.18" targetFramework="net48" />
  <package id="Microsoft.VisualBasic" version="10.3.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net48" />
  <package id="NLog" version="4.5.11" targetFramework="net48" />
  <package id="Polly" version="7.1.0" targetFramework="net48" />
  <package id="SharpZipLib" version="1.3.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
  <package id="System.IO.Abstractions" version="3.0.10" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="4.7.1" targetFramework="net48" />
  <package id="System.Management.Automation" version="6.1.7601.17515" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net48" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net48" />
  <package id="System.Threading.Channels" version="4.7.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Dataflow" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="UiPath" version="22.4.38.42025" targetFramework="net48" />
  <package id="UiPath.Activities.RuntimeGovernance" version="1.1.3" targetFramework="net48" />
  <package id="UiPath.Core.Activities" version="2018.3.6897.22553" targetFramework="net48" />
  <package id="UiPath.ImageProcessing" version="22.4.1" targetFramework="net48" />
  <package id="UiPath.OCR.Activities" version="3.6.2" targetFramework="net48" />
  <package id="UiPath.OCR.Contracts" version="2.11.0" targetFramework="net48" />
  <package id="UiPath.Platform" version="22.4.1" targetFramework="net48" />
  <package id="UiPath.System.Activities" version="22.4.1" targetFramework="net48" />
  <package id="UiPath.Telemetry.Client" version="1.5.3" targetFramework="net48" />
  <package id="UiPath.UIAutomation.Activities" version="22.4.4" targetFramework="net48" />
  <package id="UiPath.Vision" version="3.3.0" targetFramework="net48" />
</packages>